<!-- src/app/reset-password/reset-password.component.html -->
<section class="bg-white h-screen">
    <div class="max-w-md mx-auto py-12">
        <h1 class="text-3xl font-bold text-gray-800 mb-6">Réinitialiser le mot de passe</h1>
        <p class="text-gray-600 mb-6">Entrez votre nouveau mot de passe.</p>
        <form [formGroup]=" resetPasswordForm" (ngSubmit)="onSubmit()" class="grid gap-4">
            <label for="newPassword">Nouveau mot de passe:</label>
            <input id="newPassword" formControlName="newPassword" type="password"
                class="mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                required />
            @if(resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched){
            <div>
                @if(resetPasswordForm.get('newPassword')?.errors?.['required']){
                <div class=" text-red-500 text-sm">
                    Mot de passe requis
                </div>
                } @else if(resetPasswordForm.get('newPassword')?.errors?.['minlength']){
                <div class=" text-red-500 text-sm">
                    Le mot de passe doit faire au moins
                    6
                    caractères.</div>
                }
            </div>
            }

            <button
                class="inline-block shrink-0 rounded-full border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500"
                type="submit" [disabled]="resetPasswordForm.invalid">Réinitialiser</button>
        </form>
    </div>
</section>