<div class="text-white p-6 overflow-y-auto h-full">
    <!-- Top section with header and actions -->
    <div class="flex justify-between items-center">
        <div class="flex items-center space-x-4">
            <div>
                <h1 class="text-xl font-bold">Bienvenue {{user?.username}}</h1>
            </div>
        </div>
    </div>

    <!-- Player cards section -->
    <div class="mt-6 grid grid-cols-1 md:grid-cols-1 gap-8 ">
        <div class="bg-gray-800 p-20 rounded-lg">
            <img [src]="user?.avatar" alt="Profile picture" class="w-12 h-12 rounded-full">
            <div class="flex items-center space-x-4">
                <div>
                    <h2 class="text-lg font-bold flex items-center mt-4">
                        <span id="username-display">{{user?.username}}</span>
                        <span id="edit-icon" class="text-gray-400 cursor-pointer ml-2">
                            <!-- Pencil icon for editing -->
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-5 h-5" (click)="enableEditing()">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                            </svg>
                        </span>
                    </h2>
                    @if(isEditing) {
                    <form [formGroup]="formUpdatePseudo" (ngSubmit)="updatePseudo()">
                        <div class="flex flex-col">

                            <!-- Input to update the username -->
                            <input formControlName="username" type="text" id="username"
                                class="mt-2 p-2 bg-gray-700 text-white rounded" placeholder="Enter new username" />
                            @if(hasError('username', 'required')) {
                            <div class="text-xs text-red-500 flex items-center mt-2 error" id="usernameError">
                                <svg xmlns=" http://www.w3.org/2000/svg" width="14px" height="14px" fill="currentColor"
                                    class="mr-2" viewBox="0 0 512 512">
                                    <path
                                        d="M256 0C114.833 0 0 114.833 0 256s114.833 256 256 256 256-114.853 256-256S397.167 0 256 0zm0 472.341c-119.275 0-216.341-97.046-216.341-216.341S136.725 39.659 256 39.659c119.295 0 216.341 97.046 216.341 216.341S375.275 472.341 256 472.341z"
                                        data-original="#000000" />
                                    <path
                                        d="M373.451 166.965c-8.071-7.337-20.623-6.762-27.999 1.348L224.491 301.509 166.053 242.1c-7.714-7.813-20.246-7.932-28.039-.238-7.813 7.674-7.932 20.226-.238 28.039l73.151 74.361a19.804 19.804 0 0 0 14.138 5.929c.119 0 .258 0 .377.02a19.842 19.842 0 0 0 14.297-6.504l135.059-148.722c7.358-8.131 6.763-20.663-1.347-28.02z"
                                        data-original="#000000" />
                                </svg>
                                Username is required
                            </div>
                            }

                            <!-- Message sous le champ de saisie -->
                            <span class="text-sm text-gray-400 mt-1">* Vous ne pouvez modifier que 3 fois votre pseudo
                                utilisateur</span>

                            <!-- Bouton de sauvegarde -->
                            <button class="mt-4 p-2 bg-blue-500 hover:bg-blue-600 text-white rounded w-32">
                                Sauvegarder
                            </button>
                        </div>
                    </form>
                    }
                    <h3 class="text-yellow-500 mt-4">{{user?.email}}</h3>
                </div>
            </div>
            <div class="mt-4">
                <div class="flex justify-end">
                    <button (click)="deleteAccount()"
                        class="mt-4 p-2 bg-red-700 text-white hover:bg-red-600 rounded w-auto">
                        Supprimer le compte
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-6 grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- Player Card 1 -->
        <div class="bg-gray-800 p-4 rounded-lg">
            <div class="flex items-center space-x-4">
                <img src="trophy.png" alt="Trophy" class="w-8 h-8">
                <div>
                    <h2 class="text-lg font-bold">Rootless</h2>
                    <span class="text-yellow-500">Challenger</span>
                </div>
            </div>
            <div class="mt-4">
                <p>Lokal stats</p>
                <div class="flex justify-between mt-1">
                    <span>42 - 21</span>
                    <span>64%</span>
                    <span>1.23 KDA</span>
                </div>
            </div>
        </div>
        <!-- Player Card 2 -->
        <div class="bg-gray-800 p-4 rounded-lg">
            <div class="flex items-center space-x-4">
                <img src="trophy.png" alt="Trophy" class="w-8 h-8">
                <div>
                    <h2 class="text-lg font-bold">Rootless</h2>
                    <span class="text-yellow-500">Challenger</span>
                </div>
            </div>
            <div class="mt-4">
                <p>Lokal stats</p>
                <div class="flex justify-between mt-1">
                    <span>42 - 21</span>
                    <span>64%</span>
                    <span>1.23 KDA</span>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-6">
        <h2>Bibliothèque</h2>
        <div class="">
            <!--List des jeux possédés-->
        </div>
    </div>
    <!-- <div class="mt-6">
        <h2>Wishlist</h2>
        <div class="mt-6 grid grid-cols-1 md:grid-cols-3 gap-4"> -->
    <!--List des jeux présents dans la wishlist-->
    <!-- @for(gameWish of user?.wishLists; track gameWish.id) {
            <div class="bg-gray-800 p-4 rounded-lg">
                <div class="flex items-center space-x-4">
                    <img src="trophy.png" alt="Trophy" class="w-8 h-8">
                    <div>
                        <h2 class="text-lg font-bold">TEST</h2>
                        <span class="text-yellow-500">Challenger</span>
                    </div>
                </div>
                <div class="mt-4">
                    <p>Lokal stats</p>
                    <div class="flex justify-between mt-1">
                        <span>42 - 21</span>
                        <span>64%</span>
                        <span>1.23 KDA</span>
                    </div>
                </div>
            </div>
            }
        </div>
    </div> -->
</div>