<section class="overflow-hidden  sm:grid sm:grid-cols-2">
    <div class="p-10 md:p-12 lg:px-16 lg:py-24">
        <div class="mx-auto max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
            <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
                Pourquoi choisir GamesIsland ?
            </h2>

            <p class="text-gray-500 md:mt-4 md:block">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, egestas tempus tellus etiam
                sed. Quam a scelerisque amet ullamcorper eu enim et fermentum, augue. Aliquet amet volutpat
                quisque ut interdum tincidunt duis.
            </p>

            <div class="mt-4 md:mt-8">
                <button [routerLink]="['/inscription']"
                    class="bg-orange-500 text-white hover:bg-orange-700 font-bold py-2 px-4 rounded-full mx-4">
                    <a>Create Account</a>
                </button>
            </div>
        </div>
    </div>
    <div class="p-8 md:p-12">
        <img alt=""
            src="https://images.unsplash.com/photo-1464582883107-8adf2dca8a9f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
            class="h-56 w-full object-cover sm:h-full" />
    </div>
</section>
<section class="py-10 lg:py-10 relative">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative ">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-9">
            <div class="img-box">
                <img src="assets/GamesIsland-Logo.webp" alt="About Us tailwind page" class="max-lg:mx-auto">
            </div>
            <div class="lg:pl-[100px] flex items-center">
                <div class="data w-full">
                    <h2 class="font-manrope font-bold text-4xl lg:text-5xl text-black mb-9 max-lg:text-center relative">
                        About
                        Us </h2>
                    <p class="font-normal text-xl leading-8 text-gray-500 max-lg:text-center max-w-2xl mx-auto">
                        Driven by a passion for seamless user experiences, we've meticulously curated pagedone
                        to empower creators, designers, and developers alike. Our mission is to provide a
                        comprehensive toolkit,
                        enabling you to build intuitive, beautiful interfaces that resonate with users on every
                        interaction.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="my-10">
    <h2 class="text-center text-2xl font-bold text-gray-900 md:text-3xl">Few Games you can find on GamesIsland</h2>
</div>
<section id="games" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-8 px-2 lg:px-4 my-10">
    <!-- Game Card Example For Each Game Entity -->
    <div class="game-card action bg-white rounded-lg shadow-md overflow-hidden mx-2">
        <img src="http://unsplash.it/150/150?random&gravity=center" alt="Game Thumbnail"
            class="w-full h-32 sm:h-48 object-cover">
        <div class="p-4">
            <h3 class="font-bold text-xl mb-2">Action Game</h3>
            <p class="text-gray-700">An exciting action game.</p>
        </div>
    </div>

    <div class="game-card adventure bg-white rounded-lg shadow-md overflow-hidden mx-2">
        <img src="http://unsplash.it/150/150?random&gravity=center" alt="Game Thumbnail"
            class="w-full h-32 sm:h-48 object-cover">
        <div class="p-4">
            <h3 class="font-bold text-xl mb-2">Adventure Game</h3>
            <p class="text-gray-700">Embark on an epic adventure.</p>
        </div>
    </div>

    <div class="game-card puzzle bg-white rounded-lg shadow-md overflow-hidden mx-2">
        <img src="http://unsplash.it/150/150?random&gravity=center" alt="Game Thumbnail"
            class="w-full h-32 sm:h-48 object-cover">
        <div class="p-4">
            <h3 class="font-bold text-xl mb-2">Puzzle Game</h3>
            <p class="text-gray-700">Challenge your mind with puzzles.</p>
        </div>
    </div>

    <div class="game-card strategy bg-white rounded-lg shadow-md overflow-hidden mx-2">
        <img src="http://unsplash.it/150/150?random&gravity=center" alt="Game Thumbnail"
            class="w-full h-32 sm:h-48 object-cover">
        <div class="p-4">
            <h3 class="font-bold text-xl mb-2">Strategy Game</h3>
            <p class="text-gray-700">Plan and win in this strategy game.</p>
        </div>
    </div>
    <div class="game-card strategy bg-white rounded-lg shadow-md overflow-hidden mx-2">
        <img src="http://unsplash.it/150/150?random&gravity=center" alt="Game Thumbnail"
            class="w-full h-32 sm:h-48 object-cover">
        <div class="p-4">
            <h3 class="font-bold text-xl mb-2">Strategy Game</h3>
            <p class="text-gray-700">Plan and win in this strategy game.</p>
        </div>
    </div>
    <div class="game-card strategy bg-white rounded-lg shadow-md overflow-hidden mx-2">
        <img src="http://unsplash.it/150/150?random&gravity=center" alt="Game Thumbnail"
            class="w-full h-32 sm:h-48 object-cover">
        <div class="p-4">
            <h3 class="font-bold text-xl mb-2">Strategy Game</h3>
            <p class="text-gray-700">Plan and win in this strategy game.</p>
        </div>
    </div>
</section>
<div class="my-4 md:mt-8 flex items-center justify-center">
    <button [routerLink]="['/inscription']"
        class="bg-orange-500 text-white hover:bg-orange-700 font-bold py-2 px-4 rounded-full mx-4">
        <a>Let's Play</a>
    </button>
</div>