<!-- main.component.html -->
<div class="flex-1 p-4 lg:p-8 overflow-y-auto h-full pt-20">
    <!-- Barre de recherche et informations utilisateur -->
    <div class="flex flex-col lg:flex-row justify-between items-start lg:items-center mb-8 space-y-4 lg:space-y-0 ">
        <div class="relative w-full lg:w-1/2">
            <input type="text" placeholder="Search"
                class="w-full px-4 py-2 rounded-full bg-gray-200 text-gray-700 focus:outline-none focus:ring-2 focus:ring-indigo-500">
        </div>
        <button type="button"
            class="flex items-center text-sm rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
            id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
            data-dropdown-placement="bottom">
            <span class="sr-only">Open user menu</span>
            <img src="user-avatar.png" alt="User Avatar" class="w-10 h-10 rounded-full">
            <div class="px-4 py-3">
                <p class="text-sm text-gray-900 dark:text-white text-left">{{ user?.username }}</p>
                <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300">{{ user?.email }}</p>
            </div>
        </button>

        <!-- Dropdown Menu -->
        <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600 w-auto"
            id="user-dropdown">
            <ul class="py-2" aria-labelledby="user-menu-button">
                <li>
                    <a routerLink="/"
                        class="block px-8 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white cursor-pointer">
                        Profile
                    </a>
                </li>
                <li>
                    <a
                        class="block px-8 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white cursor-pointer">
                        Settings </a>
                </li>
                <li>
                    <a (click)="logout()"
                        class="block px-8 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white cursor-pointer">
                        Sign out
                    </a>
                </li>
            </ul>
        </div>


    </div>

    <!-- Jeux actuels -->
    @for(genre of gamesByGenre | keyvalue ; track genre.key) {
    <h3 class="text-2xl font-bold mb-4 text-white mt-4">{{ genre.key }}</h3>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        @for (game of genre.value; track game.id) {
        <div (click)="goToDetail(game.id)"
            class="bg-white p-4 rounded-lg shadow cursor-pointer transition transform hover:shadow-lg hover:-translate-y-1">
            <img [src]="game.coverImage" alt="{{game.title}}" class="rounded-lg mb-4 w-full">
            <p class="text-gray-800">{{game.title}}</p>
            @if(game.price === '0' ){
            <p class="text-gray-800">Free</p>
            } @else {
            <p class="text-gray-800">{{ game.price}} €</p>
            }
        </div>
        }
    </div>
    }
    <!-- <div (click)="goToDetail('2')" id="2"
        class="bg-white p-4 rounded-lg shadow cursor-pointer transition transform hover:shadow-lg hover:-translate-y-1">
        <img src="mortal_kombat.png" alt="Mortal Kombat" class="rounded-lg mb-4 w-full">
        <p class="text-gray-800">$67.99</p>
    </div>
    <div (click)="goToDetail('3')" id="3"
        class="bg-white p-4 rounded-lg shadow  cursor-pointer transition transform hover:shadow-lg hover:-translate-y-1">
        <img src="fortnite.png" alt="Fortnite" class="rounded-lg mb-4 w-full">
        <p class="text-gray-800">Free</p>
    </div>
</div>
<h3 class="text-xl font-bold mb-4 text-gray-800 mt-8">Action Games</h3>
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    <div
        class="bg-white p-4 rounded-lg shadow cursor-pointer transition transform hover:shadow-lg hover:-translate-y-1">
        <img src="spiderman.png" alt="Spiderman" class="rounded-lg mb-4 w-full">
        <p class="text-gray-800">$69.00</p>
    </div>
    <div
        class="bg-white p-4 rounded-lg shadow cursor-pointer transition transform hover:shadow-lg hover:-translate-y-1">
        <img src="mortal_kombat.png" alt="Mortal Kombat" class="rounded-lg mb-4 w-full">
        <p class="text-gray-800">$67.99</p>
    </div>
    <div
        class="bg-white p-4 rounded-lg shadow  cursor-pointer transition transform hover:shadow-lg hover:-translate-y-1">
        <img src="fortnite.png" alt="Fortnite" class="rounded-lg mb-4 w-full">
        <p class="text-gray-800">Free</p>
    </div>
</div> -->


    <!-- Amis en ligne et récemment joués -->
    <div class="flex flex-col lg:flex-row mt-8 space-y-8 lg:space-y-0 lg:space-x-8">
        <!-- <div class="w-full lg:w-1/3">
            <h3 class="text-xl font-bold mb-4 text-gray-800">Friends online</h3>
            <ul class="space-y-4">
                <li class="flex items-center justify-between">
                    <div class="flex items-center">
                        <img src="friend1.png" alt="Friend" class="w-10 h-10 rounded-full">
                        <div class="ml-2">
                            <p class="text-gray-800">CrimsonTiger67</p>
                            <p class="text-sm text-gray-500">Join <span class="text-green-500">Resident Evil 4</span>
                            </p>
                        </div>
                    </div>
                    <button class="text-teal-600 hover:text-teal-700">Join</button>
                </li>
            </ul>
        </div> -->
        <!-- <div class="w-full lg:w-2/3">
            <h3 class="text-xl font-bold mb-4 text-gray-800">Recently played</h3>
            <ul class="space-y-4">
                <li class="flex items-center justify-between">
                    <div>
                        <p class="text-gray-800">Hitman World of Assassination</p>
                        <div class="bg-gray-200 h-2 rounded-full mt-1">
                            <div class="bg-green-500 h-2 rounded-full" style="width: 72%;"></div>
                        </div>
                    </div>
                    <span class="text-gray-800">72%</span>
                </li>
                
            </ul>
        </div> -->
    </div>
</div>